@model List<FormationDotNet.BookTO>

@{
    /**/

    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>


    @foreach (var BookTO in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => BookTO.Id)</td>
            <td>@Html.DisplayFor(modelItem => BookTO.Title)</td>
            <td>@Html.DisplayFor(modelItem => BookTO.Price)</td>

            <td>

                @Html.ActionLink("Edit", "edit", new { id = BookTO.Id })
                @Html.ActionLink("delete", "delete", new { id = BookTO.Id })



            </td>
        </tr>
    }


    <@using (Html.BeginForm("Details","Books",FormMethod.Get))
    {
        <p>
            Title : @Html.TextBox("SearchingString")<br />
            <input type="submit" value="Filter" />
        </p>
    }

</div>
